<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="C:\inetpub\wwwroot\Dash_IIS\venv\Scripts\python.exe|C:\inetpub\wwwroot\Dash_IIS\venv\lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="router.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Dash_IIS" /><!-- path to venv-->
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\Dash_IIS\app.log" /> <!-- path to log-->
  </appSettings>
</configuration>  
